.legend {
  padding: 20px;
  margin: auto;
}

.legend-item {
  margin: 10px;
  color: rgb(124, 122, 122);
}

.block {
  height: 30px;
  padding-left: 20px;
  padding-bottom: 3px;
  background-color: white;
  border: 1px solid rgb(202, 231, 230);
  margin-right: 1px;
}

.blue {
  background-color: #43d1ce;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
