.wrap {
  border: 1px solid rgb(202, 231, 230);
  /* border-right: 1px solid rgb(176, 219, 217);
  border-bottom: 1px solid rgb(176, 219, 217); */
  width: 30px;
  height: 30px;
  position: relative;

  /* margin: 0 -1px -1px 0; */
}

.node {
  /* border: 1px solid rgb(176, 219, 217); */
  /* background-color: white; */
  /* padding: 15px; */
  width: 30px;
  height: 30px;
  /* margin: 0 -1px -1px 0; */
  cursor: pointer;
}

.visited {
  /* background-color: aquamarine; */
  animation-name: visitedAnimation;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.2);
    /* background-color: white; */
    border-radius: 100%;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: #438dd1;
  }
  75% {
    transform: scale(1.2);
    background-color: #43d187;
  }
  100% {
    background-color: #43d1ce;
  }
}

.wall {
  background-color: black;
  border: 1px solid black;
  /* outline: 1px solid black; */

  margin: -1px 0 0 -1px;

  /* animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; */
}

/* @keyframes wallAnimation {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
} */

.path {
  /* background-color: yellow; */
  animation-name: pathAnimation;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes pathAnimation {
  0% {
    background-color: rgb(126, 250, 213);
    border-radius: 100%;
    transform: scale(0.2);
  }

  75% {
    transform: scale(1.2);
  }
  100% {
    background-color: yellow;
    border: 1px solid yellow;
    /* outline: 1px solid yellow; */
    margin: -1px 0 0 -1px;
  }
}

.start {
  background-color: green;
  /* border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  top: 6px;
  left: 6px;
  position: absolute;
  padding: 6px;
  margin: 0 0 0 -3px;
  width: 0;
  height: 0;
  transform: rotate(-45deg); */
}

.end {
  background-color: red;
}
