.wrap {
  border: 1px solid rgb(202, 231, 230);
  width: 30px;
  height: 30px;
  position: relative;
}

.node {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.visited {
  background-color: #67f1a8;
}

.visited-animation {
  animation-name: visitedAnimation;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }

  25% {
    background-color: #fffb7b;
  }
  50% {
    background-color: #67b0f1;
  }
  75% {
    transform: scale(1.2);
    background-color: #67f1ed;
  }
  100% {
    background-color: #67f1a8;
  }
}

.path {
  background-color: #fffb7b;
  border: 1px solid #fffb7b;
  margin: -1px 0 0 -1px;
}

.path-animation {
  animation-name: pathAnimation;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes pathAnimation {
  0% {
    background-color: #67f1a8;
    border-radius: 100%;
    transform: scale(0.2);
  }

  75% {
    transform: scale(1.2);
  }
  100% {
    background-color: #fffb7b;
    border: 1px solid #fffb7b;
    margin: -1px 0 0 -1px;
  }
}

.wall {
  background-color: black;
  border: 1px solid black;
  margin: -1px 0 0 -1px;
}

.wall-animation {
  background-color: black;
  border: 1px solid black;
  margin: -1px 0 0 -1px;

  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    background-color: black;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
  }
}

.dewall-animation {
  animation-name: dewallAnimation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes dewallAnimation {
  75% {
    border-radius: 100%;
    transform: scale(0.2);
  }
  100% {
    background-color: white;
    border: 1px solid rgb(202, 231, 230);
  }
}

.startWrap {
  /* following commented code is a shape for the start node that I can't decide if I like better
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  top: 6px;
  left: 6px;
  position: absolute;
  padding: 5px;
  margin: 0 0 0 -3px;
  width: 0;
  height: 0;
  transform: rotate(-45deg); */
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  border-left: 15px solid black;
  display: block;
  margin-left: 7px;
  margin-top: 4px;
}

.endWrap {
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  padding: 4px;
  border: solid 4px black;
  border-radius: 50%;
  background-clip: content-box;
  cursor: pointer;
}
